@mixin play-side($background) {
  background: $background;
  flex-flow: column nowrap;
  display: flex;
  flex: auto;
}

@mixin tile() {
  margin: 1rem 0 1rem 0;
  background: aliceblue;

  &:not(:last-of-type) {
    margin-right: 1rem;
  }
}

@mixin field() {
  justify-content: center;
  display: flex;
  flex: auto;
  padding: 0 5vw;

  .tile {
    width: 20vw;
    @include tile();
  }
}

@mixin backrow($background) {
  justify-content: center;
  display: flex;
  height: 20vh;
  padding: 0 10vw;
  background: $background;

  .tile {
    width: 10vw;
    @include tile();
  }
}

.board {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
}

.player {
  @include play-side(blue);

  > .backrow {
    @include backrow(lightblue);
  }

  > .field {
    @include field();
  }
}

.opponent {
  @include play-side(coral);

  > .backrow {
    @include backrow(lightcoral);
  }

  > .field {
    @include field();
  }
}
